<!DOCTYPE html>
<html>
<head>
    <title>Lista de Alunos</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Presente</th>
            <th>Ação</th>
        </tr>
        {% for i in range(len(alunos)) %}
        <tr>
            <td>{{ alunos[i]['matricula'] }}</td>
            <td>{{ alunos[i]['nome'] }}</td>
            <td>{% if alunos[i]['presente'] %}Sim{% else %}Não{% endif %}</td>
            <td><a href="/presente/{{ i }}">Marcar como presente</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/exportar">Exportar para CSV</a>
</body>
</html>
